* {
    margin: 0;
    padding: 0; 
    font-family: 'open sans';
    
}
body {
    background:#fffdf6;
}

html, body {
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    height: 100%; /* Asegura que el body y html ocupen toda la altura */
}

.container {
    position: fixed; /* Fija el contenedor al fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
        -45deg,
        #feb47b 0,
        transparent 30px,
        #ff7e5f 30px,
        transparent 60px,
        #feb47b 120px,
        transparent 240px
    );
    background-color: #feb47b;
    z-index: -1; /* Esto asegura que el fondo esté detrás de todo el contenido */
}


.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se distribuyan en múltiples líneas */
    justify-content: space-between; /* Distribuye el espacio entre las tarjetas */
    gap: 30px; /* Espaciado entre las tarjetas */
    margin: 30px; /* Margen alrededor del contenedor */
}

.page-title {
    text-align: center; /* Centra el texto */
    padding: 20px; /* Espacio interno */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Degradado de fondo */
    border-radius: 0; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9); /* Sombra para dar profundidad */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.page-title h1 {
    font-size: 2em; /* Tamaño de fuente grande para el título */
    color: white; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Sombra de texto */
    margin: 0; /* Eliminar margen por defecto */
    font-family: 'Lobster';
}

.page-title h2 {
    font-size: 2.5em; /* Tamaño de fuente menor para el subtítulo */
    color: white; /* Color del texto */
    margin-top: 10px; /* Espacio encima del subtítulo */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9); /* Sombra de texto */
    letter-spacing: 1px; /* Espaciado entre letras */
    font-family: 'Tangerine';
}


.card {
    padding: 20px;
    width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #e8e8e8;
    box-shadow: 5px 5px 6px #dadada,
                -5px -5px 6px #f6f6f6;
    margin: auto;
    animation: fadeIn 1s ease-out forwards; /* Animación de fade-in */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Comienza invisible */
    }
    to {
        opacity: 1; /* Termina totalmente visible */
    }
}

.card-title {
    font-size: 25px;
    font-weight: 600;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Degradado de fondo */
    -webkit-background-clip: text; /* Aplica el degradado solo al texto en WebKit */
    background-clip: text; /* Aplica el degradado solo al texto en otros navegadores */
    color: transparent; /* Hace el texto transparente para que solo se vea el degradado */
    margin: 15px 0 0 10px;
    text-align: center;
}

.card-image {
    height: 170px; /* Altura fija para la imagen */
    background-color: #c9c9c9;
    border-radius: 15px;
    box-shadow: inset 8px 8px 10px #c3c3c3,
                inset -8px -8px 10px #cfcfcf,
                0px 0px 10px 3px rgba(0, 0, 0, 0.6); /* Sombra añadida */
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%; /* Fija la altura de la imagen a la altura del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarse */
    border-radius: 15px; /* Bordes redondeados en la imagen */
}

.card-body {
    margin: 20px 0 10px 10px;
    color: rgb(31, 31, 31);
    font-size: 20px;
}

.card-body .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-body .item p {
    margin-right: 10px;
    flex: 1;
}

.price {
    margin-right: 25px;
    font-weight: bold;
    font-size: 25px;
}

.btn-plus:hover, .btn-minus:hover {
    background-color: #ccc;
}

span {
    margin: 0 10px;
    font-size: 16px;
}

.footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #636363;
}

.by-name {
    font-weight: 700;
}

.add-to-cart {
    margin: auto;
    display: block;
    background-color: #2e54a7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #1c3c7a;
}






/* Animación de entrada para los botones */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}



/* Estilo para el botón de WhatsApp */
.floating-btn-whats {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: bounceIn 1s ease-out;
}


/* Estilo para el botón flotante de postres */
.floating-btn-postres  {
    position: fixed;
    bottom: 150px;
    right: 10px;
    background-color: #f8a5c2; /* Color pastel para postres */
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 1s ease-out;
}

.floating-btn-postres img {
    width: 40px;  /* Ajusta el tamaño del icono */
    height: 40px; /* Ajusta el tamaño del icono */
    object-fit: contain; /* Asegura que el icono no se distorsione */
    filter: brightness(0) invert(1);  /* Esta combinación convierte el color a blanco */
}



.floating-btn-trans  {
    position: fixed;
    bottom: 80px;
    right: 10px;
    background-color: #2e54a7; /* Color pastel para postres */
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 1s ease-out;
}
.floating-btn-trans img {
    width: 40px;  /* Ajusta el tamaño del icono */
    height: 40px; /* Ajusta el tamaño del icono */
    object-fit: contain; /* Asegura que el icono no se distorsione */
    filter: brightness(0) invert(1);  /* Esta combinación convierte el color a blanco */
}
